body {
    font-family: Nunito;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 16px;
}

.custom-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: steelblue!important;
    color: #fff;
}

.custom-card img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card {
    background-color: #d5d5d5;
}

.submit-button {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* 0 x 2x rgba(0,0,0,0.2) */
    font-weight: 700;
    padding: 8px 16px;
    background-color: #008C15!important;
}

/* .submit-button:hover {
    background-color: #008C15;
} */